%table
  %thead
    %tr
      %th Survey #
      %th Date
      %th Shift
      %th Time
  %tbody
    - @surveys.each do |survey|
    %tr
      %td= survey.id
      %td= survey.date.strftime("%m/%d/%Y")
      %td= survey.shift
      %td= survey.date.strftime("%H:%M")
